---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<span class:list={['brand-mark', className]}>
	<span class="brand-mark__event">event</span><span class="brand-mark__salsa">salsa</span>
</span>
